
#courses figure p{
    text-align: justify;
}
#courses figure{
  box-shadow: 2px 3px 10px 4px grey; 
  margin-bottom: 30px;
}
#courses figcaption{
    padding: 10px;
}
#chooseus h3{
color: red;
}
#chooseus p{
    text-align:justify;
    padding: 10px;
}
.card{
    padding: 10px 0px;
}
.navbar-brand img{
    width: 100% !important;
    height: 80px;
}
.nav-link {
    background-color: rgb(7, 150, 238) !important;
    color: white !important;
    padding: 0px 30px !important;
    margin:10px !important;
   
}